<div class="card-wrap">
    <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{ 'car-group-three.title-first' | translate }}</h2>
              <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/ZAZFORZA.jpg" class="card-img-top" alt="...">
              <p class="card-text"><br>{{ 'car-group-three.first-desc' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{ 'car-group-three.title-second' | translate }}</h2>
              <img src="https://i.infocar.ua/i/12/1547/1400x936.jpg" class="card-img-top" alt="...">
              <p class="card-text"><br>{{ 'car-group-three.second-desc' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
