<div class="card-wrap">
    <div class="row">
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{ 'car-group-two.title-first' | translate }}</h2>
              <img src="https://automotive-heritage.ru/upload/zaz-1102_tavria_3.jpg" class="card-img-top" alt="...">
              <p class="card-text"><br>{{ 'car-group-two.first-desc' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{ 'car-group-two.title-second' | translate }}</h2>
              <img src="https://wroom.ru/i/cars2/zaz_1103_1.jpg" class="card-img-top" alt="...">
              <p class="card-text"><br>{{ 'car-group-two.second-desc' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">{{ 'car-group-two.title-third' | translate }}</h2>
                <img src="https://cdn.riastatic.com/photosnewr/auto/newauto_photos/zaz-tavriya-pikap__385568-460x345.jpg" class="card-img-top" alt="...">
                <p class="card-text"><br>{{ 'car-group-two.third-desc' | translate }}</p>
              </div>
            </div>
          </div>
      </div>
    </div>
